{% extends "SemdropsSemdropsMobileBundle::baseForIPhone.html.twig" %}
{% block header %}Set a Category{% endblock %}
{% block content %}
	<form action="{{ path('doneCategory') }}" method="POST" {{form_enctype(form)}}>
	   <br>
	   {{form_label(form.uri,'Here go your uri: ')}} 
	   <br>
	   {{form_widget(form.uri)}}
	   <br>
	   {{form_label(form.category,'Here go your category: ')}}
	   <br>
	   {{form_widget(form.category)}}
	   <br>
	   <input type="submit" value ="Add" class= "resetButtonStyle white button" />
	   <input type="reset" value="Clear" class= "resetButtonStyle white button" /><br><br>
	</form>
{% endblock %}
